.newBlogModalContent {
  display: flex;
  flex-direction: column;
  width: 300px;
  max-width: 100%;
  gap: 10px;
}

.newBlogModalContent h2 {
  text-align: center;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.blogNameInputContainer {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.blogNameInput {
  padding: 3px;
  font-size: 1rem;
  outline: none;
}

.blogDescriptionInput {
  padding: 3px;
  height: 6em;
  font-size: 1rem;
  resize: none;
  outline: none;
}

.cancelButton {
  padding: 7px 12px;
  border-radius: 5px;
  border: 1px solid gray;
  background-color: transparent;
  color: gray;
  font-weight: bold;
  cursor: pointer;
}

.addBlogButton {
  padding: 7px 12px;
  border-radius: 5px;
  border: none;
  background-color: rgb(42, 165, 42);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.errorMsg {
  word-break: break-word;
  color: red;
  font-size: 0.9rem;
}
