.registerPage {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.registerForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
}

.registerForm h1 {
  text-align: center;
}

.name {
  display: flex;
  gap: 10px;
  width: 100%;
}

.name .formField {
  flex: 1;
  width: 100%;
}

.formField {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formField label {
  font-size: 1.2rem;
}

.formField input {
  font-size: 1rem;
  padding: 5px;
}

.errorMsg {
  word-break: break-word;
  color: red;
}

.registerButton {
  padding: 10px;
  font-weight: bold;
  border: none;
  background-color: #0082c9;
  color: white;
  cursor: pointer;
}
