.threeDotsButton {
  padding: 5px;
  border-radius: 50%;
  background-color: transparent;
  color: black;
  height: 30px;
  width: 30px;
}

.threeDotsButton:hover {
  background-color: rgba(0, 0, 0, 0.13);
  color: black;
}

.threeDotsSVG {
  display: block;
  width: 20px;
  height: 20px;
}

.menuItemIcon {
  width: 16px;
  height: 16px;
  color: gray;
}

.menuItemText {
  font-size: 1rem;
}
