.content {
  flex: 1;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.itemsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.loadingIconContainer {
  display: flex;
  justify-content: center;
}
