.title .mce-content-body {
  font-size: 42px;
  font-weight: bold;
}

.title .mce-edit-focus,
.subheading .mce-edit-focus {
  outline: none;
}

.subheading .mce-content-body {
  font-size: 22px;
  color: gray;
}
