.postContainer {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.post {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  width: 100%;
}

.publishNow,
.publishButton {
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  align-self: flex-end;
}

.newPostForm {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  aspect-ratio: 16 / 9;
  max-height: 300px;
  background-color: #d4d4d4;
}

.imageContainer img {
  height: 100%;
  display: block;
}
