.header {
  height: var(--header-height);
  position: sticky;
  top: 0;
  z-index: 10;
}

.backArrow,
.hamburgerMenu {
  color: white;
  cursor: pointer;
  height: 32px;
  width: 32px;
  padding: 5px;
}

.backArrow:hover,
.hamburgerMenu:hover {
  background-color: rgba(80, 80, 80, 0.3);
  border-radius: 50%;
}

.logo {
  font-size: 1.5rem;
  padding: 0 5px;
  color: white;
}

.headerNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  background-color: black;
  height: 100%;
}

.headerNav .leftSide {
  display: flex;
  align-items: center;
}

.mainNav {
  display: flex;
  align-items: center;
  gap: 10px;
}

.mainNav a:visited {
  color: white;
}

.mainNav a {
  font-size: 1.3rem;
  color: white;
}

.writeButton {
  font-size: 10px;
}

.headerNav a {
  text-decoration: none;
}

.profile_photo {
  width: 32px;
  height: 32px;
  background-color: rgb(211, 211, 211);
  cursor: pointer;
}
