.postItem {
  display: flex;
  box-shadow: rgba(255, 255, 255, 0) 0px 3px 8px;
  border: 1px solid rgb(197, 189, 189);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
}

.postItem:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.postCoverImageContainer {
  display: flex;
  justify-content: center;
  background-color: #d4d4d4;
  aspect-ratio: 16 / 9;
  max-width: 120px;
  margin: auto;
  overflow: hidden;
}

.postDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2px;
  flex: 1;
  padding: 10px;
}

.topPart,
.bottomPart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.topPart p {
  font-size: 1.1rem;
}

.title {
  font-weight: bold;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.topRight {
  display: flex;
  align-items: center;
  gap: 10px;
}

.usernameAndProfilePic {
  display: flex;
  align-items: center;
  gap: 5px;
}

.profilePic {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.options {
  display: none;
  align-items: center;
  gap: 10px;
}

.options.visible {
  display: flex;
}

.options button {
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

.options a,
.options button,
.options svg {
  width: 26px;
  height: 26px;
}

.options svg {
  padding: 2px;
  color: black;
}

.options button:hover {
  background-color: rgba(0, 0, 0, 0.13);
}

.trashIcon {
  width: 16px;
  height: 16px;
  color: gray;
}

.bottomPart p,
.bottomPart span {
  font-size: 0.9rem;
}

.publishStatusAndLastModifiedDate {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.publishStatus.draft {
  color: rgb(233, 58, 4);
}
.publishStatus.published {
  color: green;
}

.trashIndicator {
  color: rgb(73, 73, 73);
}

.lastModifiedDate {
  color: rgb(73, 73, 73);
}

.commentCount {
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 360px) {
  .postCoverImageContainer {
    max-width: 155px;
  }
}

@media only screen and (min-width: 500px) {
  .publishStatusAndLastModifiedDate {
    flex-direction: row;
    gap: 0px;
  }
}

@media only screen and (min-width: 680px) {
  .postCoverImageContainer {
    max-width: 170px;
  }
}
