.signInPage {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.signInForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
}

.signInForm h1 {
  text-align: center;
}

.formField {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.formField label {
  font-size: 1.2rem;
}

.formField input {
  font-size: 1rem;
  padding: 5px;
}

.signInButton {
  padding: 10px;
  font-weight: bold;
  border: none;
  background-color: #0082c9;
  color: white;
  cursor: pointer;
}

.errorMsg {
  word-break: break-word;
  color: red;
}
