.postContainer {
  display: flex;
  justify-content: center;
  flex: 1;
}

.postContainer a:link,
.postContainer a:visited {
  color: black;
  text-decoration: none;
}

.post {
  display: flex;
  flex-direction: column;
  width: 700px;
  overflow: hidden;
}

.coverImageContainer {
  display: flex;
  justify-content: center;
  background-color: #d4d4d4;
  aspect-ratio: 16 / 9;
  width: 100%;
  overflow: hidden;
}

.coverImageContainer img {
  display: block;
  width: auto;
  height: 100%;
  overflow: hidden;
}

.postBody {
  padding: 20px;
}

.postTitle {
  font-size: 2.6rem;
  word-break: break-word;
}

.postSubheading {
  color: gray;
  font-weight: normal;
  margin-top: 10px;
  word-break: break-word;
}

.postInfo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 0px;
}

.authorImage {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.postInfo .rightSide {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.postInfo .rightSide > * {
  flex: 1;
  display: flex;
  align-items: center;
}

.authorName {
  font-size: 1.3rem;
  cursor: pointer;
  width: fit-content;
}

a.authorName:hover {
  text-decoration: underline;
}

.publishedIn {
  color: rgb(85, 85, 85);
}

a.blogLink:hover {
  text-decoration: underline;
}

.votesAndComments {
  display: flex;
  align-items: center;
  align-self: flex-start;
  gap: 15px;
  padding: 10px;
  border-top: 1px solid rgba(143, 143, 143, 0.3);
  border-bottom: 1px solid rgba(143, 143, 143, 0.3);
}

.upvoteButton {
  width: 40px;
  height: 40px;
  padding: 3px;
  border-radius: 50%;
}

.upvoteButton:hover {
  background-color: rgb(209, 209, 209);
}

@media screen and (min-width: 460px) {
  .postBody {
    padding: 20px;
  }
}

@media screen and (min-width: 769px) {
  .post {
    border-radius: 7px;
    box-shadow:
      rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  }

  .postContainer {
    position: relative;
    padding: 30px;
  }

  .votesAndComments {
    position: sticky;
    height: 100%;
    top: 200px;
    flex-direction: column;

    padding: 0px 30px 0 0px;
    border-top: none;
    border-bottom: none;
  }
}
