.sidebar {
  position: sticky;
  width: 300px;
  background-color: #333333;
  transform: translateX(-300px);
  margin-right: -300px;
  transition:
    transform 0.5s,
    margin-right 0.5s;
}

.sidebar.isSmallScreen {
  position: fixed;
  height: 100%;
}

.sidebar.open {
  transform: translateX(0px);
  margin-right: 0;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px;
  list-style-type: none;
  color: white;
}

li.blogSelect {
  padding: 5px 0 5px 15px;
}

li.blogSelect p {
  font-size: 1rem;
}

li.blogSelect select {
  width: 100%;
}

.sidebarItem {
  padding: 5px 0 5px 15px;
  width: 100%;
  text-align: left;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.sidebarItem.selected {
  color: orange;
}

.blogSelect {
  display: flex;
  gap: 10px;
}

.newBlogButton {
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  background-color: rgb(42, 165, 42);
  color: white;
  font-weight: bold;
  cursor: pointer;
  align-self: flex-end;
  width: fit-content;
}

.sideBarItemNewPost {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  box-shadow: 0 1px 4px 0 rgba(60, 64, 67, 0.3);
}

.newPostButton {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.sidebarItemLink a {
  display: block;
  text-decoration: none;
}

.sidebarItemLink:hover {
  background-color: #555555;
  border-radius: 7px;
}
