.expandableContentContainer {
}

.lineClamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content {
}

.readMoreButton,
.showLessButton {
  align-self: flex-start;
  color: rgb(92, 92, 92);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9rem;
}

.readMoreButton:hover,
.showLessButton:hover {
  text-decoration: underline;
}

.colorRed {
  color: red;
}
