.comment {
  display: flex;
  gap: 10px;
}

.comment img {
  border-radius: 50%;
}

.comment textarea {
  border-bottom: 1px solid black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  align-self: flex-start;
}

.comment .rightSide {
  display: flex;
  flex-direction: column;
  gap: 3px;
  flex: 1;
}

span.commentCreationDate {
  color: gray;
  font-size: 1rem;
}

span.commentLine {
  display: block;
  word-break: break-word;
  margin: 2px 0;
}

.commentActionBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.commentActionBar .leftSide {
  display: flex;
  gap: 5px;
}

.replyButton {
  padding: 6px 10px;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: bolder;
  font-size: 0.8rem;
}

.replyButton:hover {
  background-color: rgba(192, 192, 192, 0.5);
}

.loadingIcon {
  display: flex;
  justify-content: center;
}
