:root {
  font-size: 16px;
  font-family: Arial, sans-serif;
}

#root {
  /* height: 100vh; */
  /* min-height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

textarea {
  font-family: Arial, sans-serif;
}
